res/
.luarocks
*.db
plugins/alive.lua
plugins/bitly.lua
plugins/danbooru.lua
plugins/deviantart.lua
plugins/facebook.lua
plugins/facebook_photo.lua
plugins/facebook_video.lua
plugins/gender.lua
plugins/github.lua
plugins/googl.lua
plugins/ip_info.lua
plugins/konachan.lua
plugins/konachan_nsfw.lua
plugins/page2image.lua
plugins/pagespeed_insights.lua
plugins/ping_adress.lua
plugins/test.lua
plugins/twitch.lua
plugins/create_sticker.lua
plugins/derpibooru_nsfw.lua
plugins/derpibooru.lua
plugins/rss.lua
plugins/meme.lua
plugins/app_store.lua
plugins/bitly_create.lua
plugins/dailymotion.lua
plugins/dns.lua
plugins/gdrive.lua
plugins/instagram.lua
plugins/play_store.lua
plugins/reddit.lua
plugins/soundcloud.lua
plugins/spotify.lua
plugins/vimeo.lua
plugins/vine.lua
plugins/youtube_playlist.lua
plugins/yandere.lua
plugins/e621.lua