res/
.luarocks
*.db
plugins/bitly.lua
plugins/danbooru2.lua
plugins/deviantart.lua
plugins/facebook.lua
plugins/facebook_photo.lua
plugins/facebook_video.lua
plugins/gender.lua
plugins/github.lua
plugins/googl.lua
plugins/ip_info.lua
plugins/konachan.lua
plugins/konachan_nsfw.lua
plugins/page2image.lua
plugins/pagespeed_insights.lua
plugins/ping_adress.lua
plugins/test.lua
plugins/twitch.lua
plugins/derpibooru_nsfw.lua
plugins/derpibooru.lua
plugins/app_store.lua
plugins/dailymotion.lua
plugins/dns.lua
plugins/gdrive.lua
plugins/instagram.lua
plugins/play_store.lua
plugins/reddit.lua
plugins/soundcloud.lua
plugins/spotify.lua
plugins/vimeo.lua
plugins/vine.lua
plugins/youtube_playlist.lua
plugins/yandere.lua
plugins/e621.lua
plugins/ponyfaces.lua
plugins/rss_old.lua
plugins/gfycat.lua
plugins/yourls.lua
plugins/youtube_channel.lua
plugins/pr0gramm.lua
plugins/licht.lua
plugins/dantest.lua
plugins/flickr.lua
plugins/flickr_search.lua
plugins/google_books.lua
plugins/safebrowsing.lua
plugins/random.lua